/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --narrow-black: #333333;

  --basic-blue: #81B3D2;
  --logo-blue: #81B3D3;
  --hover-blue: #669EC0;
  --active-blue: #5496BD;

  --basic-brown: #766357;
  --hover-brown: #604E43;
  --active-brown: #503E33;

  --opacity-white: rgba(255, 255, 255, 0.3);
  --footer-background: rgba(255, 255, 255, 0.9);
  --opacity-black: rgba(0, 0, 0, 0.3);
  --opacity-body: rgba(0, 1, 1, 0.2);

  --background-light-grey: #F2F2F2;
  --hover-light-grey: #EBEBEB;
  --border-grey: #E5E5E5;
  --reasons-grey: #EEEEEE;
  --arrow-grey: #CACACA;
  --icon-grey: #A9A9A9;
  --checkbox-dark-grey: #6A6A6A;
  --rating-grey: #666666;
  --toggle-grey: #ABABAB;
  --toggle-shadow-grey: rgba(171, 171, 171, 0.3);

  --html-grey: #BDBBBC;
  --html-black: #231F20;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--background-light-grey);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.container {
  width: 1200px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--opacity-body);
}

.main-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 531px;
  z-index: 2;
}

.main-navigation {
  display: flex;
  justify-content: center;
  position: relative;
}

.greetings {
  width: 1200px;
  height: 509px;
  background: url(../img/shape.svg) no-repeat 0 100%, url("../img/background.jpg");
  background-color: var(--html-grey);
  position: relative;
  padding-top: 76px;
}

.welcome {
  display: block;
  margin: auto;
  top: 77px;
  left: 371px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 10px 72px;
  width: 100%;
  min-height: 56px;
}

.site-navigation a {
  color: var(--basic-black);
  font-weight: bold;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 30%;
}

.site-navigation a:not([href]) {
  color: var(--basic-brown);
}

.site-navigation li {
  width: 228px;
}

.site-navigation li:nth-child(4n+3) {
  margin-left: auto;
  text-align: right;
}

.site-navigation li:nth-child(4n) {
  text-align: right;
}

.advantages {
  text-align: center;
  position: relative;
  z-index: 5;
}

.advantages-header {
  min-height: 216px;
  padding-top: 42px;
  padding-bottom: 50px;
}

.we-need-more {
  width: 470px;
  min-height: 80px;
  margin: auto;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.we-need-more+h2 {
  color: var(--narrow-black);
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  width: 519px;
  margin: 0 auto;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.reason h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 26px;
}

.reason p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 23px;
}

.reason {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  width: 400px;
  min-height: 256px;
}

.reason-left-wrapper {
  display: flex;
}

.reason.left {
  padding: 45px 30px 10px;
}

.reason.left h3 {
  padding: 2px 65px;
}

.reason-right-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.reason.right {
  padding: 50px 40px 10px;
}

.reason.right h3 {
  padding: 0 85px;
}

.city-view {
  width: 800px;
  min-height: 256px;
  background-color: var(--basic-blue);
}

.city-view img {
  vertical-align: bottom;
}

.bridge {
  width: 800px;
  min-height: 256px;
  background-color: var(--basic-blue);
}

.bridge img {
  vertical-align: bottom;
}

.hint-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: baseline;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 330px;
}

.hint-list p {
  color: var(--narrow-black);
  line-height: 21px;
  margin: 0;
}

.hint-item {
  width: 400px;
  min-height: 330px;
  margin: 0;
  padding: 158px 50px 30px;
}

.hint-item.house {
  background-image: url(../img/icon-1.svg);
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position: 162px 60px;
}

.hint-item.food {
  background-image: url(../img/icon-3.svg);
  background-size: 75px 70px;
  background-repeat: no-repeat;
  background-position: 162px 61px;
}

.hint-item.gift {
  background-image: url(../img/icon-2.svg);
  background-size: 64px 77px;
  background-repeat: no-repeat;
  background-position: 168px 55px;
}

.hint-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 26px;
}

.reason-bottom {
  background-color: var(--reasons-grey);
  padding: 46px 60px 30px;
  margin: 0;
  width: 400px;
  min-height: 256px;
}

.reason-bottom h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 26px;
  padding: 0 80px;
}

.reason-bottom p {
  color: var(--narrow-black);
  margin-top: 0;
  margin-bottom: 23px;
  line-height: 21px;
}

.hotel-search {
  text-align: center;
}

.search-header {
  width: 100%;
  min-height: 291px;
  padding-top: 55px;
  position: relative;
  z-index: 5;
  background-color: var(--basic-white);
}

.interested {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  margin: 0 73px 31px 73px;
}

.interested+p {
  color: var(--narrow-black);
  margin: 0;
  margin-bottom: 42px;
  padding: 0 382px;
}

.open-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-white);
  text-align: center;
  text-transform: inherit;
  background-color: var(--basic-brown);
  width: 568px;
  min-height: 86px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.open-button:hover,
.open-button:focus {
  background-color: var(--hover-brown);
}

.open-button:active {
  background-color: var(--active-brown);
  color: var(--opacity-white);
  mix-blend-mode: normal;
}

.map {
  background-image: url(../img/map.jpg);
  background-size: cover;
  width: 1200px;
  min-height: 594px;
  display: block;
  position: relative;
  padding-bottom: 112px;
}

.search-popup {
  font-weight: bold;
  color: var(--basic-black);
  background-color: var(--basic-white);
  width: 568px;
  min-height: 395px;
  display: block;
  position: absolute;
  left: 316px;
  margin: auto;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  -webkit-animation: slideDown 2s ease;
          animation: slideDown 2s ease;
  z-index: 3;
}

.search-popup-hide {
  display: none;
}

.search-popup-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.search-popup form {
  padding: 53px;
}

.date {
  margin-bottom: 29px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.date label {
  padding-left: 2px;
  padding-top: 7px;
}

.date input[type="text"] {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  width: 346px;
  height: 38px;
  background-color: var(--background-light-grey);
  border-color: transparent;
  padding-left: 10px;
  padding-right: 40px;
}

.date input[type="text"]::-webkit-input-placeholder {
  color: var(--basic-black);
  opacity: 1;
}

.date input[type="text"]::-moz-placeholder {
  color: var(--basic-black);
  opacity: 1;
}

.date input[type="text"]::placeholder {
  color: var(--basic-black);
  opacity: 1;
}

.date input[type="text"]:hover {
  background-color: var(--hover-light-grey);
}

.date input[type="text"]:focus {
  background-color: transparent;
  border: 2px solid var(--border-grey);
  outline: none;
}

.calendar {
  width: 21px;
  height: 23px;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 11px;
  cursor: pointer;
}

.calendar-icon {
  display: inline;
}

.calendar:hover path,
.calendar:focus path {
  fill: var(--basic-black);
}

.calendar:active path {
  fill: var(--basic-blue);
}

div.quantity-wrapper {
  display: flex;
  margin-bottom: 56px;
  justify-content: space-between;
}

div.quantity {
  display: flex;
  position: relative;
  text-align: left;
}

.quantity input[type="text"]::-moz-placeholder {
  color: var(--basic-black);
  opacity: 1;
}

.quantity input[type="text"]::-webkit-input-placeholder {
  color: var(--basic-black);
  opacity: 1;
}

.quantity input[type="text"]::placeholder {
  color: var(--basic-black);
  opacity: 1;
}

.quantity.adults label {
  width: 115px;
  padding-left: 2px;
  padding-top: 7px;
}

.quantity.kids label {
  width: 68px;
  padding-left: 2px;
  padding-top: 7px;
}

.quantity button {
  width: 38px;
  height: 38px;
  position: absolute;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.quantity input[type="text"] {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  width: 114px;
  height: 38px;
  background-color: var(--background-light-grey);
  border: none;
  text-align: center;
  padding: 0 38px;
}

button.minus {
  right: 76px;
}

.minus::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 11px;
  width: 12px;
  height: 3px;
  background-color: var(--icon-grey);
}

button.plus {
  right: 1px;
}

.plus::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 11px;
  width: 13px;
  height: 3px;
  background-color: var(--icon-grey);
}

.plus::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 11px;
  width: 13px;
  height: 3px;
  background-color: var(--icon-grey);
  transform: rotate(90deg);
}

.minus:hover::before,
.plus:hover::before,
.plus:hover::after {
  background-color: var(--basic-black);
}

.minus:active::before,
.plus:active::before,
.plus:active::after {
  background-color: var(--basic-blue);
}

.find {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-white);
  text-align: center;
  text-transform: inherit;
  background-color: var(--basic-blue);
  width: 458px;
  height: 58px;
  border: none;
}

.find:hover,
.find:focus {
  background-color: var(--hover-blue);
}

.find:active {
  background-color: var(--active-blue);
  color: var(--opacity-white);
  mix-blend-mode: normal;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: none;
}

.main-footer {
  position: relative;
}

.footer-wrapper {
  display: flex;
  width: 100%;
  min-height: 120px;
  background-color: var(--basic-white);
}

.footer-wrapper.index {
  position: absolute;
  top: -120px;
  background-color: var(--footer-background);
  z-index: 2;
}

section.footer {
  display: flex;
  width: 400px;
  min-height: 120px;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 20px;
}

.contacts {
  width: 400px;
  min-height: 120px;
  font-size: 21px;
  font-weight: bold;
  align-items: stretch;
  padding: 21px 0 20px 73px;
  text-align: center;
}

.contacts p {
  margin: 0;
  margin-bottom: 9px;
}

.contacts a {
  color: var(--basic-black);
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  padding-left: 6px;
  margin: 0;
}

.social-list li {
  width: 46px;
  height: 48px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.social-icon {
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
  display: inline-block;
  vertical-align: top;
  position: relative
}

.social-icon.twitter::before {
  content: "";
  width: 17px;
  height: 16px;
  background-image: url(../img/twitter.svg);
  position: absolute;
  top: 15px;
  left: 16px;
}

.social-icon.facebook::before {
  content: "";
  width: 12px;
  height: 22px;
  background-image: url(../img/fb.svg);
  position: absolute;
  top: 13px;
  left: 18px;
}

.social-icon.youtube::before {
  content: "";
  width: 20px;
  height: 16px;
  background-image: url(../img/youtube.svg);
  position: absolute;
  top: 15px;
  left: 13px;
}

.social-icon:hover {
  background-color: var(--hover-blue);
}

.social-icon:active {
  background-color: var(--active-blue);
}

.social-icon:active::before {
  opacity: 30%;
}

.footer.logo {
  padding-right: 72px;
}

.footer.logo p:first-of-type {
  margin-right: 6px;
  margin-top: 11px;
}

.academy-icon {
  width: 114px;
  height: 40px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.academy-icon:hover path,
.academy-icon:focus path {
  fill: var(--basic-blue);
}

.academy-icon:active path {
  fill: var(--html-grey);
}


/* HOTELS */


.filter-container {
  background-image: url(../img/background-blurred.jpg);
  background-size: cover;
  background-color: var(--basic-blue);
  width: 1200px;
  min-height: 217px;
  display: flex;
  color: var(--basic-white);
  line-height: 21px;
  padding-top: 25px;
  padding-left: 71px;
  padding-right: 73px;
}

.filter-container fieldset {
  width: 225px;
  padding: 0;
  margin: 0;
  margin-right: 30px;
  border: none;
}

.facilities legend,
.accomodation legend {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
}

.checkbox-list {
  list-style: none;
  margin: 0;
  padding-left: 40px;
}

.checkbox-list li {
  margin-bottom: 25px;
}

.checkbox-list label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.filter-checkbox+label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 23px;
  height: 23px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.filter-checkbox:focus+label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.filter-checkbox:disabled+label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 23px;
  height: 23px;
  border: 2px solid var(--checkbox-dark-grey);
  border-radius: 2px;
}

.filter-checkbox:checked+label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  border: none;
  background-image: url(../img/checkbox-on.svg);
  width: 27px;
  height: 23px;
}

.filter-checkbox:checked:focus+label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.filter-checkbox:checked:disabled+label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  border: none;
  background-image: url(../img/checkbox-on-blocked.svg);
  width: 27px;
  height: 23px;
}

.price-range-container {
  width: 317px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.filter-item legend {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}

.price-range-display {
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  min-height: 36px;
  position: relative;
  display: flex;
  align-items: center;
  width: 317px;
  padding-left: 65px;
}

.price-range-display div {
  width: 90px;
}

.price-range-display div:first-of-type {
  margin-right: 56px;
}

.price-range-display input {
  display: inline-block;
  vertical-align: baseline;
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  width: 50px;
}

.price-range-input {
  display: block;
  margin-bottom: 26px;
}

.price-range-display::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 157px;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}

.range-controls {
  height: 42px;
  padding-top: 20px;
  position: relative;
  margin-bottom: 13px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--opacity-white);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 11px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: var(--toggle-grey);
  padding: 0;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 var(--toggle-shadow-grey);
  cursor: pointer;
  box-sizing: content-box;
}

.range-controls .toggle:hover {
  transform: scale(1.2);
}

.range-controls .toggle-max {
  left: 252px;
}

.submit-button {
  width: 137px;
  min-height: 36px;
  color: inherit;
  font: inherit;
  text-transform: inherit;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  cursor: pointer;
  align-self: center;
  margin-right: 10px;
}

.submit-button:hover,
.submit-button:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.classification-container {
  border-bottom: 1px solid var(--border-grey);
  display: flex;
  align-items: flex-start;
  width: 100%;
  min-height: 86px;
  padding-top: 27px;
  padding-left: 73px;
  padding-right: 72px;
  padding-bottom: 20px;
}

.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding-top: 2px;
}

.picking {
  font-size: 12px;
  line-height: 18px;
  margin-left: 47px;
  margin-right: 40px;
  padding-top: 4px;
}

.sort-list {
  width: 680px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.sort-list li {
  display: inline;
  margin-right: 33px;
}

.sort-item {
  font-size: 12px;
  line-height: 18px;
  color: var(--opacity-black);
  border-bottom: 1px dotted var(--basic-blue);
}

.sort-item:hover,
.sort-item:focus {
  color: var(--basic-blue);
}

.sort-item:active {
  color: var(--basic-black);
  border: none;
}

.sort-item.current {
  color: var(--basic-blue);
  border: none;
}

div.arrows {
  margin-left: auto;
  padding-top: 5px;
}

.arrow {
  width: 11px;
  height: 10px;
}

.arrow:hover path,
.arrow:focus path {
  fill: var(--basic-black);
}

.arrow:active path {
  fill: var(--basic-blue);
}

.arrow.up {
  margin-right: 9px;
}

.arrow.down svg {
  transform: rotate(180deg);
}

.arrow.current path {
  fill: var(--basic-blue);
}

.hotels-list {
  list-style: none;
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
}

.hotels-list-item {
  display: flex;
  width: 1200px;
  min-height: 151px;
  padding-left: 73px;
  padding-right: 73px;
  padding-bottom: 29px;
  border-bottom: 1px solid var(--border-grey);
}

.hotel-image {
  align-self: flex-start;
  width: 135px;
  height: 90px;
  margin-right: 29px;
  margin-top: 31px;
  cursor: pointer;
}

.hotel-info {
  padding-top: 26px;
  max-width: 700px;
}

.hotel-name h3 {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;
}

.hotel-name h3:hover,
.hotel-name h3:focus {
  color: var(--basic-blue);
}

.hotel-name h3:active {
  color: var(--opacity-black);
}


.hotels-list-item p {
  line-height: 21px;
  color: var(--narrow-black);
  margin: 0;
  margin-bottom: 16px;
}

.hotel-info span {
  display: inline-block;
  vertical-align: top;
}

.hotel-info .hotel-type {
  width: 113px;
}

.hotel-button {
  font-weight: bold;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.hotel-button.more {
  width: 110px;
  min-height: 27px;
  background-color: var(--basic-blue);
  margin-right: 3px;
  padding: 3px;
}

.hotel-button.more:hover,
.hotel-button.more:focus {
  background-color: var(--hover-blue);
}

.hotel-button.more:active {
  background-color: var(--active-blue);
  color: var(--opacity-white);
  mix-blend-mode: normal;
}

.hotel-button.book {
  width: 142px;
  min-height: 27px;
  padding: 4px;
  background-color: var(--basic-brown);
  padding: 3px;
}

.hotel-button.book:hover,
.hotel-button.book:focus {
  background-color: var(--hover-brown);
}

.hotel-button.book:active {
  background-color: var(--active-brown);
  color: var(--opacity-white);
  mix-blend-mode: normal;
}

.rating {
  align-self: flex-end;
  position: relative;
  margin-left: auto;
}

.rating span {
  display: inline-block;
  vertical-align: top;
  min-width: 110px;
  color: var(--rating-grey);
  background-color: var(--background-light-grey);
  font-size: inherit;
  line-height: inherit;
  text-align: center;
}

.rating.four-stars::before {
  content: "";
  position: absolute;
  bottom: 73px;
  right: 0;
  width: 89px;
  height: 18px;
  background-image: url(../img/star.svg);
  background-repeat: space;
}

.rating.three-stars::before {
  content: "";
  position: absolute;
  bottom: 73px;
  right: 0;
  width: 64px;
  height: 18px;
  background-image: url(../img/star.svg);
  background-repeat: space;
}

.rating.two-stars::before {
  content: "";
  position: absolute;
  bottom: 73px;
  right: 0;
  width: 41px;
  height: 18px;
  background-image: url(../img/star.svg);
  background-repeat: space;
}


/* BLANK */


.blank-page {
  min-height: 400px;
  margin-top: 100px;
  text-align: center;
}

.blank-page p {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 20px 200px;
}

.blank-page a {
  display: inline-block;
  vertical-align: top;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-white);
  text-align: center;
  padding: 15px;
  background-color: var(--basic-blue);
  width: 371px;
  height: 58px;
  border: none;
}

.blank-page a:hover,
.blank-page a:focus {
  background-color: var(--hover-blue);
}

.blank-page a:active {
  background-color: var(--active-blue);
  color: var(--opacity-white);
  mix-blend-mode: normal;
}

@-webkit-keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
