:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --narrow-black: #333333;

  --basic-blue: #81B3D2;
  --logo-blue: #81B3D3;
  --hover-blue: #669EC0;
  --active-blue: #5496BD;

  --basic-brown: #766357;
  --hover-brown: #604E43;
  --active-brown: #503E33;

  --opacity-white: rgba(255, 255, 255, 0.3);
  --opacity-black: rgba(0, 0, 0, 0.3);

  --background-light-grey: #F2F2F2;
  --hover-light-grey: #EBEBEB;
  --border-grey: #E5E5E5;
  --reasons-grey: #EEEEEE;
  --arrow-grey: #CACACA;
  --icon-grey: #A9A9A9;
  --checkbox-dark-grey: #6A6A6A;
  --rating-grey: #666666;

  --html-grey: #BDBBBC;
  --html-black: #231F20;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--background-light-grey);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
}

.main-logo {
  width: 138px;
  height: 70px;
  position: absolute;
}

.main-navigation {
  display: flex;
  justify-content: center;
}

.background-main {
  width: 1200px;
  height: 509px;
  background-color: var(--html-grey);
  background-image: url("../img/background.jpg");
}

.welcome {
  display: block;
  margin: auto;
}

.site-navigation {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 73px;
  width: 100%;
  height: 56px;
}

.site-navigation a {
  color: var(--basic-black);
  font-weight: bold;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 30%;
}

.site-navigation a:not([href]) {
  color: var(--basic-brown);
}

.site-navigation li {
  width: 228px;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

..site-navigation li:nth-child(3) {
  margin-left: auto;
}

.advantages {
  text-align: center;
}

.advantages-header {
  min-height: 216px;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.reason h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.we-need-more {
  width: 470px;
  min-height: 80px;
  margin: auto;
  font-size: 21px;
  font-weight: bold;
}

.we-need-more+p {
  color: var(--narrow-black);
}

.reason {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  width: 400px;
  min-height: 256px;
}

.reason-left-wrapper {
  display: flex;
}

.reason-right-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.city-view {
  width: 800px;
  min-height: 256px;
}

.city-view img {
  vertical-align: bottom;
}

.bridge {
  width: 800px;
  min-height: 256px;
}

.bridge img {
  vertical-align: bottom;
}

.reason-bottom {
  background-color: var(--reasons-grey);
  padding: 40px 60px;
  margin: 0;
  width: 400px;
  min-height: 256px;
}

.reason-bottom h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.hint-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 330px;
}

.hint-list p {
  color: var(--narrow-black);
}

.hint-item {
  width: 400px;
  min-height: 330px;
  margin: 0;
  padding: 40px 50px;
}

.hint-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.reason-bottom p {
  color: var(--narrow-black);
}

.hotel-search {
  text-align: center;
}

.search-header {
  width: 100%;
  min-height: 291px;
}

.interested {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.interested+p {
  color: var(--narrow-black);
}

.open-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-white);
  text-align: center;
  text-transform: inherit;
  background-color: var(--basic-brown);
  width: 568px;
  height: 86px;
  border: none;
}

.open-button:hover,
.open-button:focus {
  background-color: var(--hover-brown);
}

.open-button:active {
  background-color: var(--active-brown);
  color: var(--opacity-white);
  mix-blend-mode: normal;
}

.search-popup {
  font-weight: bold;
  color: var(--basic-black);
  background-color: var(--basic-white);
  width: 568px;
  height: 395px;
  border: none;
  display: block;
  margin: auto;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.date {
  margin: 0;
}

.date.arrival {
  padding-top: 55px;
}

.date.departure {
  padding-top: 29px;
  padding-bottom: 30px;
}

.date input[type="text"] {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  width: 346px;
  height: 38px;
  background-color: var(--background-light-grey);
  border: none;
  padding-left: 13px;
}

.date input[type="text"]:hover {
  background-color: var(--hover-light-grey);
}

.date input[type="text"]:focus {
  background-color: transparent;
  border: 2px solid var(--border-grey);
}

.quantity {
  display: inline;
}

.quantity input[type="number"] {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  width: 114px;
  height: 38px;
  background-color: var(--background-light-grey);
  border: none;
  text-align: center;
}

.calendar {
  width: 21px;
  height: 23px;
  background-image: url(../img/calendar.svg);
  border: none;
  background-color: transparent;
  fill: var(--icon-grey);
}

.calendar:hover,
.calendar:focus {
  fill: var(--basic-black);
}

.calendar:active {
  fill: var(--basic-blue);
}

.find {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-white);
  text-align: center;
  text-transform: inherit;
  background-color: var(--basic-blue);
  width: 458px;
  height: 58px;
  border: none;
  margin-top: 54px;
}

.find:hover,
.find:focus {
  background-color: var(--hover-blue);
}

.find:active {
  background-color: var(--active-blue);
  color: var(--opacity-white);
  mix-blend-mode: normal;
}

.map {
  background-image: url(../img/map.jpg);
  width: 1199px;
  height: 594px;
  display: block;
}

.footer-wrapper {
  display: flex;
  min-height: 120px;
}

.footer-contacts {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
}

.footer-contacts p {
  margin-top: 23px;
  margin-left: 117px;
  margin-bottom: 9px;
}

.footer-phone {
  margin-top: 0;
  margin-right: 156px;
  margin-bottom: 36px;
  margin-left: 117px;
}

.footer-phone a {
  color: var(--basic-black);
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 36px;
  margin-bottom: 36px;
}

.social-list li {
  display: inline;
}

.social-list li:last-child {
  margin-right: 228px;
}

.social-icon {
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
  display: inline-block;
}

.social-icon.twitter {
  background-image: url(../img/twitter.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.social-icon.facebook {
  background-image: url(../img/fb.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.social-icon.youtube {
  background-image: url(../img/youtube.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.social-icon:hover {
  background-color: var(--hover-blue);
}

.social-icon:active {
  background-color: var(--active-blue);
}

.footer-logo :first-child {
  margin-left: 0;
  margin-top: 49px;
  margin-right: 10px;
  margin-bottom: 45px;
  display: inline-block;
}

.footer-logo :last-child {
  width: 114px;
  height: 40px;
  margin: 0;
  display: inline-block;
}

/* HOTELS */

.filter-container {
  background-image: url(../img/background_blurred.jpg);
  background-color: var(--basic-blue);
  width: 1200px;
  min-height: 217px;
  display: flex;
  color: var(--basic-white);
  line-height: 21px;
}

.filter-container :focus {
  outline-color: var(--basic-black);
  outline-width: 3px;
}


.facilities {
  width: 300px;
  min-height: 217px;
  padding: 0;
  padding-left: 72px;
}

.accomodation-type {
  width: 300px;
  min-height: 217px;
  padding: 0;
}

.price-range-container {
  min-width: 317px;
  min-height: 217px;
}

.checkbox-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.checkbox-list li {
  padding-bottom: 25px;
}

.checkbox-list li:first-child {
  padding-top: 24px;
}

.facilities legend,
.accomodation-type legend {
  font-size: 16px;
  font-weight: bold;
}

label[for="price-range"] {
  font-size: 16px;
  font-weight: bold;
}

.submit-button {
  width: 137px;
  height: 36px;
  color: inherit;
  font: inherit;
  text-transform: inherit;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  cursor: pointer;
}

.submit-button:hover,
.submit-button:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding-left: 73px;
}

.classification-container {
  border-bottom: 1px solid var(--border-grey);
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 86px;
}

.picking {
  font-size: 12px;
  line-height: 18px;
  padding-left: 46px;
}

.sort-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 503px;

}

.sort-list li {
  display: inline;
  margin: auto;
}

.sort-list li:first-child {
  padding-left: 46px;
}

.sort-list li:nth-child(2) {
  padding-left: 32px;
}

.sort-list li:last-child {
  padding-left: 33px;
}

.sort-item {
  font-size: 12px;
  line-height: 18px;
  color: var(--opacity-black);
  border-bottom: 1px dotted var(--basic-blue);
}

.sort-item:hover,
.sort-item:focus {
  color: var(--basic-blue);
}

.sort-item:active {
  color: var(--basic-black);
  border: none;
}


.arrow {
  color: var(--arrow-grey);
}

.arrow:hover,
.arrow:focus {
  color: var(--basic-black);
}

.arrow:active {
  color: var(--basic-blue);
}

.hotel-name h3 {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 7px;
}

.hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotels-list-item {
  display: flex;
  width: 1200px;
  min-height: 150px;
  padding-left: 73px;
  padding-right: 73px;

}

.hotels-list-item div {
  align-self: center;
}

.hotels-list-item p {
  line-height: 21px;
  color: var(--narrow-black);
  margin: 0;
}

.hotel-image {
  width: 135px;
  height: 90px;
  align-self: center;
  margin-right: 29px;
}

.hotel-button {
  font-size: inherit;
  font-weight: bold;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
  display: inline-block;
}

.hotel-button.more {
  width: 110px;
  height: 27px;
  background-color: var(--basic-blue);
  margin-right: 6px;
}

.hotel-button.more:hover,
.hotel-button.more:focus {
  background-color: var(--hover-blue);
}

.hotel-button.more:active {
  background-color: var(--active-blue);
  color: var(--opacity-white);
  mix-blend-mode: normal;
}

.hotel-button.book {
  width: 142px;
  height: 27px;
  background-color: var(--basic-brown);
  margin-right: 522px;
}

.hotel-button.book:hover,
.hotel-button.book:focus {
  background-color: var(--hover-brown);
}

.hotel-button.book:active {
  background-color: var(--active-brown);
  color: var(--opacity-white);
  mix-blend-mode: normal;
}

.rating {
  color: var(--rating-grey);
  background-color: var(--background-light-grey);
  width: 83px;
  height: 21px;
  font-size: inherit;
  line-height: inherit;
}
